#mapwrap {
    margin: 0;
    padding: 0;
}

#sf {
    display: block;
    width: 100%}
#sf .container {
    width: 100%}
#sf .col-lg-4 {
    margin: 0;
    padding: 15px;
}

#sf .dg {
    background-color: #16a085;
}
#sf h4 {
    color: #fff;
}
#sf p {
    color: #fff;
}
#sf .ml {
    margin-left: 30px;
}
#sf i {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#cf {
    background: #2f2f2f;
}
#cf h4 {
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;
}
#cf p {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
}
#cf .container {
    width: 100%}
#cf .col-lg-8 {
    margin: 0;
    padding: 0;
}

#footer {
    background: #384047;
}

#mapwrap {
    margin: 0;
    padding: 0;

}

     
}
#cf {
    background: #384047;
}
cf:before {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
#cf h4 {
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;
}
#cf p {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
}
#cf .container2 {
    width: 100%}

#cf .col-lg-8 {
    margin: 0;
    padding: 0;
}

/*SECTION SOCIAL*/
#sf {
    display: block;
    width: 100%}
#sf .container {
    width: 100%}
#sf .col-lg-4 {
    margin: 0;
    padding: 15px;
}
#sf .lg {
    background-color: #bb4665;
}
#sf .dg {
    background-color: #963952;
}
#sf h4 {
    color: #fff;
}
#sf p {
    color: #fff;
    text-align: center;
}
#sf .ml {
    margin-left: 30px;
}
#sf i {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*SECTION FOOTER*/


    
#footer .col-lg-4 .center1 {
    margin: 5% 3% 1% 2%;
    letter-spacing: 1.2;
    font-family: sans-serif;
}

#footer .col-lg-4 .center1 a {
    color: #bb4665;
    line-height: 1;
    font-weight: bold;
    
}
#footer .col-lg-4 .center1 a:hover {
    text-decoration: none;
}


#footer .col-lg-4 .center1 .fa-phone {
    margin-left: -3px;
}

#footer .col-lg-4 .center1 .fa-mobile {
    margin-left: -1px;
}
#footer .col-lg-4 .center1 .fa-map-marker {
    margin-left: 8px;
    margin-top: -4px;
}
#footer .col-lg-4 .center1 i{
	background-color:  #33383b;
	color: #ffffff;
	
	width: 28px;
	height: 28px;
	border-radius: 50%;
	text-align: center;
	line-height: 28px;
	margin: 1px px;
	vertical-align: middle;
}
.footer-left{

	display: inline-block;
	vertical-align: top;
    margin: 1% 20%;;
}

/* Footer left */

 .footer-left{
	width: 60%;
     text-align: center
}

/* The company logo */

#footer h3 {
	color:  #ffffff;
	font: normal 26px 'Orbitron', sans-serif, cursive;
	margin-top: 0.5em;
    margin-bottom: 0.2em;
    text-align: center;
    margin-left: -1em;
    width: 90%;
    
}

#footer h3 span{
    color:  #bb4665;
}
#footer .center1 h4  {
    color:  #b2bbbd;
    margin: 0 0 0 3em;;
}

#footer .center1 h6  {
	color:  #edeff0;
    margin: 0.2em;
}
#footer .center1 .par {
    margin: 0;
    line-height: 1.2;
}



#footer .footer-links{
	color:  #ffffff;
	margin: 5px 0 0 0;
	padding: 0;
    text-align: center;
    
}

#footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
    
}

#footer .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
    text-align: center;
}

