


.smalldivs {
    display: none;
    @media only screen and (max-width: 1199px) {
        display: none;
    }
    @media only screen and (max-width: 1023px) {
        display: none;
    }
}

#header {
    z-index: 100;
    background: #3e474f;
    transition: transform 0.3s 0s ease;
    position: fixed;
    top=0;
    right: 0;
    left: 0;
    display: block;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    @media only screen and (max-width: 991px) {
        height: 95px;
        border-bottom: 2px solid #bb4665;
    }
} 

/*NAV*/

.container {
    position: relative;
    max-width: 1030px;
    margin: 0 auto;
    @media only screen and (max-width: 1023px) {
        position: relative;
        max-width: 1030px;
        margin: 0 auto;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    @media only screen and (max-width: 991px) {}
}

.container:before,
.container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.header-nav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 2px solid #bb4665;
    @media only screen and (max-width: 1023px) {
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        border-bottom: 2px solid #bb4665;
    }
    @media only screen and (max-width: 991px) {
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        border-bottom: 2px solid ##bb4665;
    }
}

.header-nav-logo {
    float: left;
    position: relative;
    width: 30px;
    border: none;
    @media only screen and (max-width: 1023px) {
        float: left;
        position: relative;
        width: 30px;
        height: 100%;
    }
    @media only screen and (max-width: 991px) {
        float: left;
        position: relative;
        width: 30px;
        height: 100%;
    }
}

 .logo-icon:hover, 
 .badge-ul:hover  {
    border: none;
}


.header-nav-logo-link {
    display: block;
    position: relative;
    width: 100%;
    @media only screen and (max-width: 1023px) {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }
    @media only screen and (max-width: 991px) {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.header-nav-logo-icon {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    display: block;  
    @media only screen and (max-width: 1023px) {
        position: absolute;
        top: 50%;
        margin-top: -12px;
        display: block;
    }
    @media only screen and (max-width: 991px) {
        position: absolute;
        top: 50%;
        margin-top: -12px;
        display: block;  
    }
}

.logo-icon {
    height: 32px;
    overflow: visible;
    transform-origin: center center;
    backface-visibility: visible;
    text-align: center;
    @media only screen and (max-width: 1023px) {
        height: 32px;
        overflow: visible;
        transform-origin: center center;
        backface-visibility: visible;
        text-align: center;
    }
    @media only screen and (max-width: 991px) {
        height: 32px;
        overflow: visible;
        transform-origin: center center;
        backface-visibility: visible;
        text-align: center;
    }
}

nav .badge-ul {
    padding-top: 7px;
    margin-right: 3px;
    @media only screen and (max-width: 1023px) {
        padding-top: 7px;
        margin-right: 3px;
    }
    @media only screen and (max-width: 991px) {
        padding-top: 7px;
        margin-right: 3px;
    }
}

nav .badge-ul li {
    list-style-type: none;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 0.8;
    letter-spacing: 1.2;
    @media only screen and (max-width: 1023px) {
         list-style-type: none;
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 13px;
        line-height: 0.8;
        letter-spacing: 1.2;
    }
    @media only screen and (max-width: 991px) {
        list-style-type: none;
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 12px;
        line-height: 0.8;
        letter-spacing: 1.2;
    }
}

.red {
    color: #bb4665;
    @media only screen and (max-width: 1023px) {
        color: #bb4665;
    }
}

.white {
    color: #edeff0;
    @media only screen and (max-width: 1023px) {
        color: #edeff0;
    }
    @media only screen and (max-width: 991px) {}
}

.ul {
    height: 40px;
       margin-top: 3px;
    padding-right: 10px;
    border-right: 2px solid rgba(237, 239, 240, 0.55);
    float: right;
    position: absolute;
    top: 6px; right: -10px
    @media only screen and (max-width: 1023px) {
        height: 40px;
        margin-top: 3px;
        padding-right: 10px;
        border-right: 2px solid rgba(237, 239, 240, 0.55);
        float: right;
        position: absolute;
        top: 6px; right: -7px
        }
    @media only screen and (max-width: 991px) {
        height: 40px;
        margin-top: 3px;
        padding-right: 10px;
        border-right: 2px solid rgba(237, 239, 240, 0.55);
        float: right;
        position: absolute;
        top: 5px; right: -7px
        }
}

.neachal h4 {
     float: right;
    position: absolute;
    top: 21px; right: -130px;
    color: #edeff0;
    font-size: 16px;
    letter-spacing: 1.2;
    @media only screen and (max-width: 1023px) {
        float: right;
        position: absolute;
        top: 21px; right: -120px;
        color: #edeff0;
        font-size: 15px;
        letter-spacing: 1.2;
    }
    @media only screen and (max-width: 991px) {
        float: right;
        position: absolute;
        top: 21px; right: -105px;
        color: #edeff0;
        font-size: 12px;
        letter-spacing: 1.2;
    }
}

.neachal2 h4 {
     float: right;
    position: absolute;
    top: 21px; right: -120px;
    color: #edeff0;
    font-size: 16px;
    letter-spacing: 1.2;
    @media only screen and (max-width: 1023px) {
        float: right;
        position: absolute;
        top: 21px; right: -120px;
        color: #edeff0;
        font-size: 15px;
        letter-spacing: 1.2;
    }
    @media only screen and (max-width: 991px) {
        float: right;
        position: absolute;
        top: 21px; right: -105px;
        color: #edeff0;
        font-size: 12px;
        letter-spacing: 1.2;
    }
} 



/*UL*/


.header-nav-item {
    line-height: 55px;
    margin-left: 250px;
    margin-right: 0px;
    @media only screen and (max-width: 1023px) {
         line-height: 55px;
        margin-left: 240px;
        margin-right: 0px;
    }
    @media only screen and (max-width: 991px) {
        line-height: 55px;
        margin-left: 215px;
        margin-right: 0px;
    }
}

.header-nav-link {
    display: block;
    color: #b2bbbd;
    float: left;
    margin-right: 25px;
    font-weight: 700;
    font-size: 16px;
    @media only screen and (max-width: 1023px) {
        display: block;
        color: #b2bbbd;
        float: left;
        margin-right: 25px;
        font-weight: 700;
        font-size: 16px;
    }
    @media only screen and (max-width: 991px) {
        display: block;
        color: #b2bbbd;
        float: left;
        margin-right: 25px;
        font-weight: 700;
        font-size: 14px; 
        display: inline-block;
        margin-top: 2px;
    }
}




.call {
    padding-top: 0px;
  
    padding-left: 0px;
    font-size: 12px;
    font-weight: 700;
    color: #777777;
    list-style: none;
    padding-bottom: 0px;
    margin-top: 16px;
    letter-spacing: 0.8 ;
    @media only screen and (max-width: 1023px) {
        padding-top: 0px;
        padding-left: 0px;
        font-size: 12px;
        font-weight: 700;
        color: #777777;
        list-style: none;
        padding-bottom: 0px;
        margin-top: 16px;
        letter-spacing: 0.8 ;
    }
    @media only screen and (max-width: 991px) {
        width: 100%;
        background: #3e474f;
        font-size: 12px;
        font-weight: 700;
        color: #777777;
        list-style: none;
        margin-top: 1%;
        background: transparent;
        letter-spacing: 0.8 ;
        float: left;  
        margin-left: -3%;
        border-top: 1px solid #bb4665;
        padding-top: 5px;
        padding-bottom: 2px;
    }
   
}
.call li {
    height: 27px;
    text-align: left;
    margin-bottom: 0;
    margin-top: -10px;
    padding-left:  53px;
    margin-left: 780px;
    letter-spacing: 1.4;
    @media only screen and (max-width: 1199px) {
        height: 27px;
        text-align: left;
        margin-bottom: 0;
        margin-top: -10px;
        padding-left:  53px;
        margin-left: 720px;
        letter-spacing: 1.4;
    }
    @media only screen and (max-width: 1023px) {
        height: 27px;
        text-align: left;
        margin-bottom: 0;
        margin-top: -10px;
        padding-left:  53px;
        margin-left: 720px;
        letter-spacing: 1.4;
        a {
            &:link,
            &:visited {
                cursor: pointer;
                text-decoration: none; 
                color: #b2bbbd;
               -webkit-transition: color 0.5s, border-bottom 0.5s;
                transition: color 0.5s, border-bottom 0.2s;
            }
            &:hover,
            &:avtive {
                 color: #edeff0;
                 border-bottom: 1px solid #bb4665;
            }
        }
    }
    @media only screen and (max-width: 991px) {
        margin-left: 30px;
        display: inline-block;
    }
}


.call li a:link,
.call li a:visited {
    cursor: pointer;
    text-decoration: none; 
    color: #b2bbbd;
   -webkit-transition: color 0.5s, border-bottom 0.5s;
    transition: color 0.5s, border-bottom 0.2s;
}

.call li a:hover,
.call li a:active {
 color: #edeff0;
 border-bottom: 1px solid #bb4665;
}

.call i {
    color: #bb4665;
}
.fa-comment-o {
    margin-left: -3px;
}

.fa-phone {
    margin-left: -3px;
}
