#about {
    background-color: #edeff0;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
}
.par {
    margin-bottom: 10%;
    margin-top: 15%;
}

.about h3 {
    color: #384047;
    font-size: 40px;
    font-family: Lato;
    margin-bottom: 25px;
    font-weight: 700;
    text-align: center;
}


.about p {
    color: #555555;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
}

