.fa-laptop {
    float: left;
    margin-top: 17px;
    margin-left: 5px;
    color: #edeff0;
}

.call i {
    color: #bb4665;
}
.fa-comment-o {
    margin-left: -3px;
}

.fa-phone {
    margin-left: -3px;
}
   
